<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Security.Properties.Settings.Security_WPFConnectionString"
            connectionString="Data Source=192.168.1.4\Enpot2008;Initial Catalog=Security_WPF;User ID=sa;Password=Enpot123"
            providerName="System.Data.SqlClient" />
        <add name="Security.Properties.Settings.EMR_SellingEasy_SecurityConnectionString"
            connectionString="Data Source=192.168.1.4\ENPOT2008;Initial Catalog=EMR_SellingEasy_Security;User ID=sa;Password=Enpot123"
            providerName="System.Data.SqlClient" />
        <add name="ENPOT.Security.Properties.Settings.EML_HNGSL_SecurityConnectionString"
            connectionString="Data Source=192.168.1.6;Initial Catalog=EML_HNGSL_Security;User ID=sa;Password=Enpot123"
            providerName="System.Data.SqlClient" />
        <add name="Security.DL.Properties.Settings.EML_HNGSL_SecurityConnectionString"
            connectionString="Data Source=192.168.1.6;Initial Catalog=EML_HNGSL_Security;User ID=sa;Password=Enpot123"
            providerName="System.Data.SqlClient" />
        <add name="Security.DL.Properties.Settings.Security_WPFConnectionString"
            connectionString="Data Source=192.168.1.4\Enpot2008;Initial Catalog=Security_WPF;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Security.DL.Properties.Settings.EML_HNGSL_SecurityConnectionString1"
            connectionString="Data Source=localhost\Howe_08R2;Initial Catalog=EML_HNGSL_Security;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>