<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DL.Properties.Settings.EML_HNGSL_DCConnectionString"
            connectionString="Data Source=192.168.1.6;Initial Catalog=EML_HNGSL_DC;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DL.Properties.Settings.Kautex_ReceiveDeliveryConnectionString"
            connectionString="Data Source=192.168.1.6;Initial Catalog=Kautex_ReceiveDelivery;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>