<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--测试环境-->
    <add key="ServerIP" value="localhost"/>
    <add key="ServerPort" value="18889"/>
    <add key="ServerApplication" value="SecurityServer/SecurityService.asmx"/>
    
    <!--现场环境-->
    <!--<add key="SecurityServiceIP" value="192.168.1.215"/>
    <add key="SecurityServicePort" value="17897"/>
    <add key="SecurityServiceApplication" value="SecurityServer/SecurityService.asmx"/>
    -->
    
  </appSettings>
</configuration>